.veggie-container {
    padding: 2rem;
    margin-top: 60px; /* Add some space above the veggie container */
}

.recipe-card {
    max-width: 300px;
    border-radius: 0.5rem;
    background-color:black;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border: 1px solid black;
   
}

.recipe-card:hover {
    transform: scale(1.05);
}

.recipe-image {
    height: 150px;
    width: 100%;
    background-color: rgb(239, 205, 255);
    background-size: cover;
    background-position: center;
    border-radius: 0.5rem 0.5rem 0 0;
}

.recipe-content {
    padding: 1.1rem;
    text-align: center;
}

.recipe-title {
    color: #111827;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.recipe-desc {
    margin-top: 0.5rem;
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-bottom: 1rem;
}

.recipe-button {
    padding: 8px 16px;
    font-size: 0.875rem;
    color: #ffffff;
    background-color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.recipe-button:hover {
    background: linear-gradient(to right, #38b2ac, #9f7aea);
}

/* Responsive Styles for Veggie Container */
@media (max-width: 1024px) {
    .recipe-card {
        max-width: 250px;
    }
    .recipe-image {
        height: 150px;
    }
    .recipe-title {
        font-size: 1.1rem;
    }
}

@media (max-width: 768px) {
    .recipe-card {
        max-width: 220px;
        margin-left:40px;
    }
    .recipe-image {
        height: 130px;
    }
}

@media (max-width: 480px) {
    .recipe-card {
        max-width: 180px;
    }
    .recipe-image {
        height: 110px;
    }
    .recipe-title {
        font-size: 1rem;
    }
}
